.main{
    background-color:black;
    
    padding: 0%;
    margin: 0%;
  }

  :root {
    --cards: 3;
    --cardHeight: 75vh;
    --cardTopPadding: 4rem;
    --cardMargin: 9vw;
  }
  
  .card-container {
    width: 80%;
    /* padding-top: 5rem; */
    margin: 0 auto;

  }
  
  #cards {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
    /* border-bottom-width: 8%; */
  }
  
  #card1 {
    --index: 1;
    padding-top: 4rem;
  }
  
  #card2 {
    --index: 2;
    padding-top: 12rem;
  }
  
  #card3 {
    --index: 3;
    padding-top: 14rem;
  }
  
  .card {
    position: sticky;
    top: 0;
    margin-top: 2rem;
  }
  
  #card1 .card-body {
    background-color: aliceblue;
    color: white;
    box-shadow: 2px;
  }
  
  #card2 .card-body {
    background-color: aliceblue;
    color: black;
  }
  
  #card3 .card-body {
    background-color: aliceblue;
    color: black;
  }
  
  .card-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ted1 {
    margin-top: -4%;
    font-size: 2.5em;
  }
  
  .about_heading {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .ted1para {
    margin-top: 2%;
    font-size: 1.5rem;
    text-align: justify;
  }
  
  /* .card1-in {
    background-image: url();
  } */
  
  span {
    color: red;
  }
  
 
  @media only screen and (max-width: 843px) and (min-width:281px) {
    .card-container {
      width: 95%; /* Adjust width for smaller screens */
    }
  
    .ted1para {
      font-size: 1.3rem;
      text-align: justify;
      overflow: auto;
      margin-top: 0;
    }
  
    .ted1 {
      font-size: 2em;
      padding-bottom: 1em;
      margin-top: 2rem;
    }
  
    .card-body {
      height: 70vh;
      padding-bottom: 30px; 
    }
  
    .about-heading {
     color: black;
      font-size: 1.6em; 
    }
  
    
    #card1 {
      --index: 1;
      padding-top: 2em;
    }
  
    #card2 {
      --index: 2;
      padding-top: 8em;
    }
  
    #card3 {
      --index: 3;
      padding-top: 9em;
    }
  }
  
  @media only screen and (min-width: 844px) and (max-width: 1118px) {
    .card-container {
        width: 95%; /* Adjust width for smaller screens */
    }

    .ted1para {
        font-size: 1.5rem;
        text-align: justify;
        overflow: auto;
        margin-top: -2rem;
    }

    .ted1 {
        top: -0rem;
        font-size: 2.2rem;
        padding-bottom: 1em;
        margin-top: 0rem;
    }

    .card-body {
        height: 70vh; 
        padding-bottom: 30px; 
    }

    .about-heading {
        color: black;
        font-size: 1rem; 
    }

    #card1 {
        --index: 1;
        padding-top: 2em;
    }

    #card2 {
        --index: 2;
        padding-top: 9em;
    }

    #card3 {
        --index: 3;
        padding-top: 11em;
    }
}

  

/* @media only screen and (max-width: 400px) {
  .card-container {
    width: 95%; /* Adjust width for smaller screens */
  /* } */

  /* .ted1para {
    font-size: 1.2rem;
    text-align: justify;
    overflow: auto;
  }

  .ted1 {
    top: -0rem;
    font-size: .9em;
    padding-bottom: 1em;
    margin-top: 2rem;
  } */ 

  /*

  .card-body {
    height: 70vh; /* Adjust card height for smaller screens */
    /* padding-bottom: 30px;  */
    /* Adjust padding as needed */
  /* } */

  /* .about-heading {
   color: black;
    font-size: 1em; 
  } */

  /* Adjust padding-top for cards */
  /* #card1 {
    --index: 1;
    padding-top: 2em;
  } */

  /* #card2 {
    --index: 2;
    padding-top: 5rem;
  } */

  /* #card3 {
    --index: 3;
    padding-top: 11em;
  } */
/* } */ 